body {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  font-size: calc(5px + 2vmin);
  margin: 0;
  padding: 0 15px;
}

.App-header > * {
  color: white;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.App-nav li {
  display: inline-block;
  padding: 0 10px;
}

.Postcard {
  max-width: 700px;
  margin: 40px auto;
  color: white;
}

.Postcard-header {
  display: flex;
  justify-content: space-between;
}

.Postcard-text {
  margin: 20px 0;
}

.Postcard-detail {
  display: flex;
  justify-content: space-between;
}

.Postcard-detail a {
  padding: 10px;
}
