body {
  background-color: #282c34;
  min-height: 100vh;
}

.btn {
  height: 38px;
  background-color: #61dafb;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  color: #282c34;
}

.b-danger {
  background-color: #ff8080;
}

.text-center {
  text-align: center;
}

.App-header {
  font-size: calc(5px + 2vmin);
  margin: 0;
  padding: 5px 15px;
}

.App-header > * {
  color: white;
}

.App-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.App-nav li {
  display: inline-block;
  padding: 0 10px;
}

.Postcard {
  max-width: 700px;
  margin: 5rem auto;
  color: white;
}

.Postcard-header {
  display: flex;
  justify-content: space-between;
}

.Postcard-text {
  margin: 20px 0;
}

.Postcard-detail {
  display: flex;
  justify-content: space-between;
}

.Postcard-detail a {
  padding: 10px;
}

.Loginform {
  max-width: 500px;
  margin: 50px auto 0;
}

.post-form {
  max-width: 450px;
  margin: 50px auto 0;
}

.form .form-group {
  margin-top: 15px;
}

.form input {
  height: 34px;
  padding: 0 3px;
}

.form textarea,
.form input {
  width: 100%;
  margin-top: 5px;
}

.form input[type='checkbox'] {
  width: auto;
  vertical-align: middle;
  margin-left: 7px;
}

.form button {
  width: 100%;
  margin: 15px 0;
}

.form .form-error {
  color: #ff8080;
}

.m2-y {
  margin: 15px auto;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-page {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.comment {
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 15px;
}

.comment-text {
  margin-top: 15px;
  width: 100%;
}

.comment input,
.comment textarea {
  background-color: #282c34;
  color: white;
  border: 1px solid #60636b;
  padding: 3px;
  border-radius: 3px;
  outline: 2px solid #222;
}

.comment input {
  margin-left: 5px;
}

.comment ul,
.form ul {
  list-style: disc;
  padding-left: 15px;
  margin-top: 15px;
  color: #ff8080;
}

.comment button {
  margin-right: 5px;
}
